<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API LIST</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        ul {
            padding: 0;
            margin: 0;
        }
        ul li {
            margin: 10px 0;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <ul>
        <h3>Authentication API</h3>
        <h4>Sign Up</h4>
        <p> Request : POST</p>
        <li>http://127.0.0.1:8000/register/</li>
        <p>[email, password, confirm_password]</p>

        <h4>Login</h4>
        <p> Request : POST</p>
        <li>http://127.0.0.1:8000/login/</li>
        <p>[email, password]</p>

        <h4><p>Get Menu, Category, Item, Modifier </h4>
        <p> Request : GET</p>
        <li>http://127.0.0.1:8000/menus/</li>
        <li>http://127.0.0.1:8000/categories/</li>
        <li>http://127.0.0.1:8000/items/</li>
        <li>http://127.0.0.1:8000/modifiers/</li>

        <h4><p>Create Menu, Category, Item, Modifier</h4>
        <p> Request : POST</p>
        <li>http://127.0.0.1:8000/menus/create/</li>
            <p>Basic Auth : owner or employee
            <p>[name, description]</p>

        <li>http://127.0.0.1:8000/categories/create/</li>
            <p>Basic Auth : owner or employee
            <p>[name,description, menu]</p>

        <li>http://127.0.0.1:8000/items/create/</li>
            <p>Basic Auth : owner or employee
            <p>[name, description, price, available, category_id]</p>


        <li>http://127.0.0.1:8000/modifiers/create/</li>
            <p>Basic Auth : owner or employee
            <p>[name, extra_price,item_id]</p>


        <h4><p>Payment</h4>
        <p> Request : POST</p>
        <li>http://127.0.0.1:8000/orders/place/</li>
        <p>Basic Auth : login user</p>
        <p>[items, total_amount, payment_method, is_paid]</p>



    </ul>
</body>
</html>
